.map-container {
    height: 100%;
    width: 100%;
}

button {
    position: absolute;
    display: block;
    top: auto;
    bottom: 7vh;
    z-index: 50;
    left: auto;
    right: 2vw;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease;
}

.go {
    background-color: green;
}

.return {
    background-color: red;
}