<div *ngIf="formSignal() as form">
    <form [formGroup]="form">
            <mat-form-field *ngIf="isAutocomplete()" appearance="outline" style="width: 100%;">
                <mat-label>{{ label() }}</mat-label>
                <div *ngIf="formArrayNameSignal() as formArrayNameVal" style="display: flex;" [formArrayName]="formArrayNameVal">
                    <input *ngIf="type() as type" matInput [type]="type" [id]="controlName()?.toString() ?? ''"
                        [formControlName]="controlName() ?? ''" [matAutocomplete]="auto">
                        <mat-icon (click)="$event.stopPropagation(); deleteElement.emit()" style="margin-right: .5rem; color: rgb(167, 17, 17); cursor: pointer;" matSuffix>delete</mat-icon>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getOptionText">
                        @for (option of suggest(); track option) {
                        <mat-option [value]="option">{{option.display_name}}</mat-option>
                        }
                    </mat-autocomplete>
                </div>
                <div *ngIf="!formArrayNameSignal()">
                    <input *ngIf="type() as type" matInput [type]="type" [id]="controlName()?.toString() ?? ''"
                        [formControlName]="controlName() ?? ''" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getOptionText">
                        @for (option of suggest(); track option) {
                        <mat-option [value]="option">{{option.display_name}}</mat-option>
                        }
                    </mat-autocomplete>
                </div>
            </mat-form-field>
            <mat-form-field *ngIf="!isAutocomplete()" appearance="outline" style="width: 100%;">
                <mat-label>{{ label() }}</mat-label>
                <input *ngIf="type() as type" matInput [type]="type" [id]="controlName()?.toString() ?? ''"
                    [formControlName]="controlName() ?? ''">
            </mat-form-field>
    </form>
</div>