<app-car-loader *ngIf="isLoading$ | async"></app-car-loader>
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <app-siderbar-feature [distanceKm]="distanceKm" (exceuteCalculate)="calculateRoute($event)" (travelMessage)="openMessage($event)"></app-siderbar-feature>
  </mat-drawer>
  <mat-drawer-content>
    <div id="container">
      <div id="navbar">
        <app-header-feature (openSidebar)="updateSidebarSignal(true)"></app-header-feature>
      </div>
      <div id="content">
        <app-map-feature [coordinate]="coordinate" (distanceInKm)="distanceKm = $event" ></app-map-feature>
      </div>
      <div id="footer">
        <app-footer-feature></app-footer-feature>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>