#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#navbar {
    height: 5vh;
    width: 100%;
    position: relative;
    margin: 0;
}

#footer {
    height: 5vh;
    width: 100%;
    position: relative;
    margin: 0;
    margin-top: auto;
}

#content {
    flex: 1;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

app-map-feature {
    width: 100%;
    height: 100%;
}