<div class="sidebar-container">
    <img class="logo-img" src="gasolator.png">
    <form *ngIf="formSignal() as form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-label>Round Trip</mat-label>
        <mat-slide-toggle *ngIf="roundTripControlName() as name" [formControlName]="name"></mat-slide-toggle>

        <app-input-ui *ngIf="fromFormControlName() as name" [label]="name | titlecase" type="text" [controlName]="name"
            [formSignal]="itineraryForm()" [isAutocomplete]="true" [suggest]="mapFormControlNameNominationSuggest()?.[name] ?? []"></app-input-ui>
        <div *ngIf="intermediateStopsForm()?.controls as controls">
            <form *ngIf="itineraryForm() as iForm" [formGroup]="iForm">
                <div *ngIf="intermediateStopsFormName() as nameArray">
                    <div [formArrayName]="nameArray" *ngFor="let stop of controls; let i = index">
                        <app-input-ui [label]="'Stop '+(i+1) | titlecase" type="text" [controlName]="i" [isAutocomplete]="true" [formSignal]="itineraryForm()" 
                            [suggest]="mapFormControlNameNominationSuggest()?.[i] ?? []" [formArrayNameSignal]="nameArray"></app-input-ui>
                    </div>
                </div>
            </form>
        </div>
        <app-input-ui *ngIf="toFormControlName() as name" [label]="name | titlecase" type="text" [controlName]="name"
            [formSignal]="itineraryForm()" [isAutocomplete]="true" [suggest]="mapFormControlNameNominationSuggest()?.[name] ?? []"></app-input-ui>
        <button type="button" style="margin-bottom: 1rem;" (click)="addStop.emit()" mat-stroked-button>Add intermediate
            Stop</button>

            
        <app-input-ui *ngIf="costForDayControlName() as name" label="Cost for travel (wear of the vehicle)"
            type="number" [controlName]="name" [formSignal]="form"></app-input-ui>
        <app-input-ui *ngIf="fuelCostControlName() as name" label="Fuel cost (€/l)" type="number" [controlName]="name"
            [formSignal]="form"></app-input-ui>
        <mat-card appearance="outlined">
            <div style="margin: 1rem; display: flex; flex-direction: column;">
                <mat-button-toggle-group *ngIf="selectKmTypeName() as name" [formControlName]="name" [name]="name"
                    style="margin: auto; margin-bottom: 1vh;">
                    <mat-button-toggle value="kmL">Km/l</mat-button-toggle>
                    <mat-button-toggle value="lKm">l/100Km</mat-button-toggle>
                </mat-button-toggle-group>

                <div *ngIf="selectKmTypeName() as kmTypeName">
                    <div *ngIf="costKmLFormControlName() === form.get(kmTypeName)?.value">
                        <app-input-ui *ngIf="costKmLFormControlName() as name" type="number" [controlName]="name"
                            label="Km/l" [formSignal]="form"></app-input-ui>
                    </div>

                    <div *ngIf="costLKmFormControlName() === form.get(kmTypeName)?.value">
                        <app-input-ui *ngIf="costLKmFormControlName() as name" type="number" [controlName]="name"
                            label="l/100Km" [formSignal]="form"></app-input-ui>
                    </div>
                </div>
            </div>
        </mat-card>

        <button type="submit" mat-flat-button [disabled]="form.invalid">Calculate</button>
    </form>
    <a href="mailto:support@gasolator.com" style="display: block; margin: 0 auto; text-align: center;">
        <img src="gasolator_contact.png" alt="Contact Support" style="max-width: 5rem; height: auto;">
    </a>
</div>