.example-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  form {
    display: flex; 
    flex-direction: column; 
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  button {
    margin-top: 10px;
  }

  .logo-img {
    height: 20%; margin-left: auto; margin-right: auto;
  }

  .sidebar-container {
    display: flex; width: 100%; height: 100%; flex-direction: column;
  }

  mat-slide-toggle {
    margin-bottom: 1rem;
  }

  a {
    display: block;
    margin: 0 auto;
    text-align: center; /* Assicura che l'immagine sia centrata */
    width: fit-content; /* Fai in modo che il link si adatti alla larghezza dell'immagine */
}

a img {
    max-width: 100%; /* Impedisce che l'immagine diventi più grande del suo contenitore */
    height: auto; /* Mantiene la proporzione corretta dell'immagine */
}
