<div class="site-footer">
    <img src="/gasolator_logo.png" alt="Gasolator Logo">
    <nav [attr.aria-label]="'FOOTER.NAV_ARIA_LABEL' | translate">
        <a href="/guida-prezzi-carburante.html">{{ 'FOOTER.FUEL_PRICES' | translate }}</a>
        <a href="/calcolo-costo-viaggio.html">{{ 'FOOTER.TRIP_COST' | translate }}</a>
        <a href="/metodologia-dati-carburante.html">{{ 'FOOTER.METHODOLOGY' | translate }}</a>
        <a href="/faq.html">FAQ</a>
        <a href="/privacy-policy.html">Privacy</a>
        <a href="/terms-of-service.html">{{ 'FOOTER.TERMS' | translate }}</a>
    </nav>
    <p>
        {{ 'APP_INFO.DEVELOPED_BY' | translate }}
    </p>
    <img src="/gle.png" alt="Giovanni Emanuele Longo">
</div>
