<app-siderbar-ui 
[formSignal]="gasolatorForm" 
[fromFormControlName]="fromFormName" 
[itineraryForm]="itineraryForm" 
[intermediateStopsForm]="intermediateStops" 
[intermediateStopsFormName]="intermediateStopsFormName" 
[toFormControlName]="toFormName"
[costKmLFormControlName]="costKmLFormControlName"
[costLKmFormControlName]="costLKmFormControlName"
[selectKmTypeName]="selectKmTypeName"
[costForDayControlName]="costForDayControlName"
[fuelCostControlName]="fuelCostControlName"
[roundTripControlName]="roundTripControlName"
[mapFormControlNameNominationSuggest]="mapFormControlNameNominationSuggest"
(exceuteCalculate)="calculateCost()"
(addStop)="addStop()"
>
</app-siderbar-ui>
