<app-siderbar-ui 
[formSignal]="gasolatorForm" 
[fromFormControlName]="fromFormName" 
[toFormControlName]="toFormName"
[costKmLFormControlName]="costKmLFormControlName"
[costLKmFormControlName]="costLKmFormControlName"
[selectKmTypeName]="selectKmTypeName"
[costForDayControlName]="costForDayControlName"
[fuelCostControlName]="fuelCostControlName"
[roundTripControlName]="roundTripControlName"
[fromAutocompleteSuggest]="fromAutocompleteSuggest"
[toAutocompleteSuggest]="toAutocompleteSuggest"
(exceuteCalculate)="calculateCost()"
>
</app-siderbar-ui>
